/*
  font-family: 'Comfortaa', cursive; 500 700
  font-family: 'Work Sans', sans-serif; 300 400 500 600 700 800
*/

/* Elements */

/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  background: url(../images/protruding-squares.svg);
  background-attachment: fixed;
  font: 300 1.25rem 'Work Sans', sans-serif;
  line-height: 1.5;
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #c4fb6d;
}

body::-webkit-scrollbar-thumb {
  background-color: #557c55;
  border: 3px solid #c4fb6d;
  border-radius: 18px;
}

/*Site flow start*/

.hero {
  background: inherit;
  height: 100vh;
  width:100%;
}

/* Frosted Glass thing */
  .hero:before {
    background: inherit;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
  }

.hero-onfrost {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #557C55;
  position: absolute;
  height: inherit;
  width: inherit;
}

/* Navbar */

.nav-btn {
  cursor: pointer;
  display: flex; flex-flow: column;
  position: absolute; top: 0; left: 0;
  margin: 1rem;
  width: 45px;
}

.nav-btn span {
  background: #a1d158;
  border-radius:10px;
  height: 5px;
  margin: 5px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.nav-btn-lines:nth-of-type(1){
  width:50%;
}

.nav-btn-lines:nth-of-type(2){
  width:100%;
}

.nav-btn-lines:nth-of-type(3){
  width:60%;
}

input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}

input[type="checkbox"]:checked ~ span:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}

input[type="checkbox"]:checked ~ span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(21px,-9px) rotatez(45deg);
}

.nav-button {
  position: absolute;
  top: 0;
  left: 1rem;
  margin: 0;
  padding: 1rem;
}

.last-date {
  color: #a1d158;
  position: absolute;
  top: 0;
  right: 1rem;
  margin: 0;
  padding: 1rem;
  font: 400 1.3rem 'Work Sans', sans-serif;
}

.hero-txt {

  display: block;
  font: 500 6rem 'Comfortaa', sans-serif;
}

.hero-subtxt {
  display: block;
  font: 500 2rem 'Comfortaa', sans-serif;
}

/* App Download buttons */
/* TODO: TheTechnetiumGuy */

/* Write here */

/* Site flow end */

.Introduction {
  text-align: left;
  margin: 5rem auto 5rem 7rem;
  width: 70%;
}

.cards {
  padding: 2rem 2rem 2rem 2rem;
}

.content {
  width: 80%;
}

/**FORUM BUTTON**/
.Forum-button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #76EAD7;
   font-size: 1.3em;
   font-weight: 100;
   padding: 1em;
   background-color: #393E46;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.Forum-button:hover {
   background-color: #393E46;
   color: #76EAD7;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/**FORUM BUTTON**/

.othersite {
  color: #EEEEEE;
  margin: 1rem 0 0 2rem;
  border-radius: 1rem;
  display: block;
  padding: 2rem;
}

.coryn-club {
  background-color: #006990;
}

.Small-div-links {
  display: inline-block;
  margin: 1rem;
  border-radius: 2rem;
  padding: 1.5rem;
}

/***** FOR LEVELS child divs *******/
.level-div{
  background-color: #CDF0EA;
  margin: 1rem 0 0 2rem;
  border-radius: 1rem;
  display: block;
  padding: 2rem;
  line-height: 1.5rem;
}

.small-level-div{
  background-color: #F6C6EA;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem;
}

/************ Footer ********/

.contact {
  background-color: #082032;
  color: white;
  padding: 3% 10% 0 10%;
}

.contact-links {
  color:#2C394B;
}

.contact-links:hover{
  color:#334756;
}

.coryn-child {
  background-color: #BD2000;
  position: relative;
  box-shadow: 3px 3px 0 #630000;
}

.author-name {
  padding: 5%;
}

.Tome-of-Offense {
  background-color: #EBA83A;
  position: relative;
  box-shadow: 3px 3px 0 #9C6F25;
  color: #362222;
}

.Spina-link{
  background-color: #897853;
  position: relative;
  color: #4E3620;
}

.Spina-link a:hover {
  color: white;
  transition-timing-function: ease-in;
  transition-duration: 0.25s;
}

.Do-n-dont{
  background-color: #AAD8D3;
  display:inline-block;
  width: 40%;
}

.div-links {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.Reddit-icon {
  height: 4rem;
  width: 4rem;
  display:inline-block;
}

.Reddit-prompt {
  width: auto;
  height: auto;
  margin: 1rem 1rem 0 1rem;
  display: inline-block;
  position: relative;
  top: 50%;transform: translateY(-30%);
}
