/*@media only screen and (max-width: 970px) {
  .Do-n-dont{
    background-color: #AAD8D3;
    display:block;
    width: 80%;
  }
  h3 {
    font-family: 'Comfortaa', cursive;
    margin: 1rem;
    font-size: 2rem;
  }

  .title-card {
    background-color: #393E46;
    padding: 2rem 2rem 5rem 2rem;
  }

  .cards {
    padding: 2rem 1rem 2rem 2rem;
  }
  .content {
    width: 90%;
  }


}*/
